<div class="container-fluid bg-yellow text-center p-5">
  <div class="my-5 py-4">
    <span class="display-2"><i class="fa-solid fa-user-slash"></i></span>
    <h1 class="sign_in font-weight-bold">Not Found.</h1>
    <p class="mb-5 py-5">
      お探しページは退会済みユーザーのものです。
    </p>
  </div>
</div>