@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  font-family: 'Mulish', cursive;
}

p {
  font-size: 14px;
}

.medium {
  font-size: 14px;
}

.bg-yellow {
  background-color: #fffacd;
}

.bg-blue {
  background-color: #598ab3;
}

.search::placeholder {
  color: #fff;
}