@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// footer {
//     height: 300px;
// }

p {
  font-size: 14px;
}

.medium {
  font-size: 14px;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.search::placeholder {
  color: #fff;
}