@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.catch_copy {
  font-family: 'Noto Serif JP', serif;
}

.sign_in {
  font-family: 'Mulish', cursive;
}

.medium {
  font-size: 14px;
}

.bg-yellow {
  background-color: #fffacd;
}

.bg-blue {
  background-color: #598ab3;
}

.bg-beige {
  background-color: #e6d0a8;
}

.bg-gray {
  background-color: #e6e6e6;
}

.bg-gold {
  background-color: #e6ae22;
}

.bg-silver {
  background-color: #a9a9a9;
}

.bg-bronze {
  background-color: #99622e;
}

.text-gold {
  color: #e6ae22;
}

.text-silver {
  color: #a9a9a9;
}

.text-bronze {
  color: #99622e;
}

.search::placeholder {
  color: #fff;
}

.headline {
	position: relative;
	padding: 0.1em 0.3em;
	padding-left: 1.5em;
	vertical-align: middle;
	border-radius: 0 25px 25px 0;
}

.subheading {
	padding: 0.1em 0.3em;
	border-left: 10px solid;
	border-bottom: 1px solid;
}

.main-visual {
  height: 200px;
  background-image: url('../images/top-mv.png');
  background-size: cover;
  background-position: top;
}

.sidebar {
  width: 250px;
}

.text-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.response-visual {
  height: 500px;
}

.response_bubble {
  width: 100px;
  background-image: url('../images/bubble.png');
}

.response-heading {
  background: linear-gradient(transparent 60%, #fffacd 30%);
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e6d0a8;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e6d0a8;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}